body {font-family: Arial;}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.deck
{
	width:50%;
	margin: 20px auto;
	background:white;
	border:solid 10px black;
	padding: 10px;
	border-radius:10px;
	text-align: center;
	color:white;
	display: none;
}

.header {
  padding: 20px;
  text-align: center;
  background: white;
  color: black;
  font-size: 20px;
}

a { color: #783c3c; }
.card
{
	width: 5%;
	height: 50px;
	padding: 10px;
	border: solid 1px #808080;
	background-color: black;
	display: inline-block;
	border-radius: 10px;
	font-size: 14pt;
	text-align: center;
	color:white;
	margin: 3px;
}

.btn
{
	background:white;
	padding: 10px 20px;
	border-radius:30px;
	margin: 10px;
	display:inline-block;
}


#dealt {
   margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.content {
  max-width: 80%;
  margin: auto;
}

.cn {
    display: table-cell;
    width: 1000px;
    height: 500px;
    background: white;
    text-align: center;
    margin-right: auto;
	margin-left: auto;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
}
div.tl {
    width: 100%;
    height: 100%;
    float: left;
}
div.bl {
    width: 100%;
    height: 100%;
    float: left;
}
div.tr {
    width: 50%;
    height: 50%;
    float: right;
}
/* real one */
.tl_2 {
    display: inline-grid;
    align: center;
  	grid-template-columns: auto auto auto auto;
  	grid-gap: 10px;
  	background-color: white;
}
.bl_2 {
    display: grid;
  	grid-template-columns: auto auto;
  	grid-gap: 10px;
  	background-color: white;
  	padding: 10px;
}
.tr_2 {
    display: grid;
  	grid-template-columns: auto auto;
  	grid-gap: 10px;
  	background-color: green;
  	padding: 10px;
}
